<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="text-center">
    <h2 class="fs-1">BIENVENIDOS</h2>
    <p class="fs-1" style="text-align: justify;">
      Este es un formulario de registro de expedientes hecho como tarea extraclase para la asignatura PID IV
      por Mario Rivero Garcia.
      <br>
      <br>
      Para probar el formulario toque en "Generales", pulse <button class="btn btn-dark" (click)="goToRouter('/registrar')">AQUI</button> o entre por la ruta "/registrar".
    </p>
  </div>
</div>
